@font-face {
    font-family: "Courier Prime";
    src: url("fonts/CourierPrime/CourierPrime.woff") format("woff");
}

@font-face {
    font-family: "Muli";
    src: url("fonts/Muli/Muli-Regular.woff") format("woff");
}

html {
    font-family: 'muli';
}
