
@font-face {
    font-family: "Courier Prime";
    src: url("fonts/CourierPrime/CourierPrime.woff") format("woff");
}

@font-face {
    font-family: "Muli";
    src: url("fonts/Muli/Muli-Regular.woff") format("woff");
}

html {
    font-family: 'muli';
}

body {
    margin: 0px;
    padding: 0px;
    min-width: 500px;
    min-height: 500px;
    background-color: #ffffff;
    letter-spacing: .5px
}

.page {
    height: 100vh;
    position: relative;
    min-height: 500px;
    background-color: #060606;
    display: table;
    width: 100%;
}

.divider {
    width: 20vw;
    border: 1px white solid;
}

.nav {
    right: 0;
    position: fixed;
    height: 100vh;
    width: 40px;
    z-index: 10;
    background-color: #060606;
}


a.body-link {
    color: white;
    padding: 2px 2px 1px;

}

a.body-link:hover {
    background-color: white;
    color: black;
}

a:focus {
    outline: 0;
}

.headers {
    font-size: 30px;
    padding: 5px 0;
    align: center;
    width: 60%;
}


.title {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: table;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.p {
    color: white;
    text-align: center;
    width: 60%;
}

a,
a:hover,
a:active,
a:visited {
    color: white;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

#chatnav ul {
    height: 170px;
    width: 100%;
}

nav ul {
    overflow: hidden;
    overflow-y: scroll;
}

.footer {
    position: fixed;
    width: 64%;

}

li.borderless {
    border-top: 0 none;
}



#videoElement {

    background-color: #666;
}

.pchat {

    font-size: 12;
}

.list-group-item {
    font-size: 12;

}

#chatlist {
    list-style: none;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#chatcard {
    height: 200px;
}



#chatlist>li {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}